<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Fornecedor</title>
</head>

<body>

    <nav class="purple darken-1">
        <div class="nav-wrapper container ">
            <a href="/" class="brand-logo">Perfumaria</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li><a href="/usuario/logar">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class=" container row" style="margin-top: 70px;">
        <h1>Cadastro de Fornecedor</h1>
        <form class="col s6" action="/fornecedor/cadastrar" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" name="nome" class="validate">
                    <label class="active" for="first_name">Nome Funcionário</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="number" name="CNPJ" class="validate" maxlength="1">
                    <label class="active" for="last_name">CNPJ</label>
                </div>
            </div>
            	<div class="input-field col s6">
                    <input id="email" type="number" name="telefone" class="validate">
                    <label class="active" for="email">Telefone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="text" name="endereco" class="validate">
                    <label class="active" for="password">Endereço</label>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn waves-effect waves-light" type="submit">Cadastrar <i
                        class="material-icons right">Salvar</i></button>
            </div>
        </form>
    </div>
</body>
</html>